body{
    background : url("../img/background.jpg");
    background-size: cover;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    width: 100vw;
}
header{
    position: absolute;
    top:-3vh;
    width: 97vw;
    z-index: 10;
}
header #logo{
    background : url("../img/logo.png");
    background-size: cover;
    cursor: pointer;
    height: 150px;
    margin: 0px auto;
    transition: 0.4s;
    width: 150px;
    z-index: 10;

    transform: scale(0.90);
}
header #logo:hover{
    transform: scale(0.95);
    transition: 0.4s;
}
main{
    background : url("../img/character.jpg");
    background-size: cover;
    border:25px rgb(218, 218, 218) solid;
    border-radius:5px; 
    height: 90vh;
    margin: 5vh auto;
    position: relative;
    width: 80vw;
}
section{
    display: flex;
    position: relative;
    width: 100%;
}
#name{
    background:#343535;
    border-radius:5px; 
    height: 85vh;
    margin-top:2.5vh;
    margin-left:10px;
    position: relative;
    width: 25%;
}
#left{
    height: 85vh;
    margin:2.5vh 10px;
    position: relative;
    width: 74%;
}
.chat{
    background: #343535c7;
    height: 25vh;
    margin-top: 5vh;
    position: relative;
    width: 100%;
    z-index: 15;
}
.chat .fleche{
    background:#343535c7;
    border-radius: 20% 20% 0% 0%;
    color:white;
    cursor: pointer;
    font-size: 2em; 
    height: 2vw;
    margin-top:-2vw;
    padding:0 10px;
    position: absolute;
    width: 2.5vw;
}
#container {
    min-width: 310px;
    max-width: 800px;
    height: 45vh;
    margin: 1vh auto;
  }
#marge{
    height: 1vh;
    width: 100%;
}
.bas{
    margin-top:60vh;
}
.nop{
    display:none;
}